"<script>"
"all_links=document.getElementsByTagName(\"A\");"

"const dfltlink=()=>true;"
"function enableAllLinks(){"
    "document.getElementsByClassName(\"notclickable\")[0].className=\"clickable\";"
	"for(a of all_links){"
	  "a.className=\"\";"
  	  "a.onclick=dfltlink;"
	"}"
"}"

"function fcustlink(e){"
  "e.stopPropagation();"
  "enableAllLinks();"
  "myFunctionTarget(e.target.parentElement);"
  "return false;"
"}"

"function disableAllLinks(){"
    "document.getElementsByClassName(\"clickable\")[0].className=\"notclickable\";"
	"for(a of all_links){"
	  "a.className=\"custom\";"
  	  "a.onclick=fcustlink;"
	"}"
"}"

//"disableAllLinks();"

"function findLinkChild(c){"
  //console.log(\"c:\",c)
  "for(e of c){"
  //console.log(\"e:\",e)
    "if(e.tagName==\"A\"){"
    	"return e;"
    "}"
  "}"
"}"

"function myFunctionTarget(t){"
"const achild=findLinkChild(t.children);"
  "const achildref=achild.href;"
  //test "alert(`test ${achildref}`);"
  "console.log(\"test\",e,this);"
  //test "alert(\"x\");"
  //https://stackoverflow.com/questions/795654/using-javascript-to-mark-a-link-as-visited
  "current_url = window.location.href;"
  "history.replaceState({},\"\",achildref);"
  "history.replaceState({},\"\",current_url);"
  "window.open(`"
    CUSTOM_NETFILE
   ":${achildref}`,'_self');" //_blank
"}"

"function myFunction(e) {"
  "if(e.target.tagName==\"OL\"){"
  	//test "alert(\"OL\");"
    "if(e.target.className == \"notclickable\"){"
        "enableAllLinks();"
        "return;"
    "}"
  	"disableAllLinks();"
    "return;"
  "}"
  "if(e.target.tagName!=\"LI\"){"
    "return;"
  "}"
  "e.stopPropagation();"
  "myFunctionTarget(e.target);"
"}"
"document.body.addEventListener(\"click\", myFunction);"
"</script>"
